@media all and (max-width: 1320px) {
  /* оптимизировать */
  header {
    width: 97.727vw;
  }
  .top {
    width: 97.727vw;
  }
  header, .top, .slider, .what, .way, .taglines, .welcome, .more, .first_lesson, .map, footer {
    margin-left: 30px;
    margin-right: 30px;
  }
  /* .item {
    width: 48%;

  } */
}
@media all and (max-width: 1290px) {

}
@media all and (max-width: 1024px) {
  h1 {
    font-size: 48px;
  }
  .menu_items {
    display: none;
  }
  .contact {
    display: none;
  }
  /* .block_text {
    width: 80vw;
  } */
}
@media all and (min-width: 1024px) {
  .menu_burger {
    display: none;
  }
}
@media all and (max-width: 744px) {
  .block_slide {
    flex-direction: column;
    gap: 20px;
  }
  /* .item {
    width: 100%;
  } */
  .welcome_items {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
}
@media all and (min-width: 430px) {
  .logo_min {
    display: none;
  }
}
@media all and (max-width: 430px) {
  h1 {
    font-size: 24px;
  }
  .logo_max {
    display: none;
  }
  .menu_items {
    display: none;
  }
  .contact {
    display: none;
  }
}
