@media all and (max-width: 1320px) {
  /* оптимизировать */
  header {
    width: 97.727vw;
  }
  .top {
    width: 97.727vw;
  }
  header, .top, .what, .way, .taglines, .welcome, .more, .first_lesson, .map, footer {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media all and (max-width: 1290px) {

}
@media all and (max-width: 1024px) {
  h1 {
    font-size: 48px;
  }
  .menu_items {
    display: none;
  }
  .contact {
    display: none;
  }
}
@media all and (min-width: 1024px) {
  .menu_burger {
    display: none;
  }
}
@media all and (max-width: 744px) {
  .block_slide {
    flex-direction: column;
    gap: 20px;
  }
  .welcome_items {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: column;
  }
  .first_lesson {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }

  .active {
    display: flex;
    width: 410px;
    height: 70px;
    padding: 23px 29px;
    justify-content: center;
    align-items: center;
  }
  .info {
    margin-top: 20px;
    flex-direction: column;
  }
  .pic {
    flex-direction: column;
  }
}
@media all and (min-width: 430px) {
  .logo_min {
    display: none;
  }
}
@media all and (max-width: 430px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
  .button_text {
    font-size: 16px;
  }
  .logo_max {
    display: none;
  }
  .menu_items {
    display: none;
  }
  .contact {
    display: none;
  }
  /* .tabs {
    flex-direction: column;
    width: 100%;
  } */
}
